:root {
	--animation-duration-1: 300ms;
	--animation-duration-2: 600ms;

	--animation-easing-1: ease-in-out;

	--background-color-1: hsla(0, 100%, 100%, 1);
	--background-color-2: hsla(210, 10%, 96%, 1);

	--border-color-default: hsla(240, 9%, 91%, 1);
	--border-color-primary: hsla(210, 10%, 25%, 1);

	--border-radius-1: 4px;
	--border-radius-2: 8px;
	--border-radius-3: 12px;
	--border-radius-4: 16px;

	--border-width-1: 1.5px;
	--border-width-2: 2px;

	--box-shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.075);
	--box-shadow-2: 0 2px 8px hsla(0, 0%, 0%, 0.1);
	--box-shadow-2-reverse: 0 -2px 8px hsla(0, 0%, 0%, 0.1);

	--cell-height-1: 24px;
	--cell-height-2: 40px;
	--cell-height-3: 56px;
	--cell-height-4: 64px;
	--cell-height-5: 72px;

	--content-color-1: hsla(210, 15%, 5%, 1);
	--content-color-2: hsla(210, 5%, 38%, 1);
	--content-color-3: hsla(210, 5%, 60%, 1);
	--content-color-4: hsla(210, 5%, 85%, 1);
	--content-color-active: hsla(202, 100%, 50%, 1);
	--content-color-success: hsla(146, 68%, 44%, 1);
	--content-color-error: hsla(10, 92%, 63%, 1);
	--content-color-warning: hsla(29, 98%, 62%, 1);

	--font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New";

	--font-size-1: 12px;
	--font-size-2: 14px;
	--font-size-3: 16px;
	--font-size-4: 20px;
	--font-size-5: 24px;

	--gap-size-1: 4px;
	--gap-size-2: 8px;
	--gap-size-3: 16px;
	--gap-size-4: 32px;
	--gap-size-5: 48px;

	--icon-stroke-width-1: 1.5px;
	--icon-stroke-width-2: 2px;

	--line-height-default: 1.5;
	--line-height-condensed: 1.25;
}

:root {
	--launcher-logo-height-sm: 64px;
	--launcher-logo-height-md: 64px;

	--floatie-preview-height-md: 420px;

	--progress-bar-height: 6px;
}

:root {
	--background-color-1-inverse: var(--content-color-1);
	--background-color-2-inverse: var(--content-color-2);
	--background-color-3-inverse: var(--content-color-3);
	--background-color-4-inverse: var(--content-color-4);

	--content-color-1-inverse: var(--background-color-1);
	--content-color-2-inverse: var(--background-color-2);
	--content-color-3-inverse: var(--background-color-1);
	--content-color-4-inverse: var(--background-color-1);

	--border-color-default-inverse: var(--content-color-4);
	--border-color-primary-inverse: var(--background-color-1);

	--content-color-default: var(--content-color-2);
	--content-color-active: var(--content-color-1);
	--content-color-disabled: var(--content-color-4);
}

:root {
	--icon-stroke-color-default: var(--content-color-4);
	--icon-stroke-color-primary: var(--content-color-2);

	--icon-stroke-color-default-inverse: var(--content-color-1);
	--icon-stroke-color-primary-inverse: var(--background-color-1);
}