:root {
	--background-color-active: hsla(210, 10%, 96%, 1);
	--background-color-default: hsla(0, 100%, 100%, 1);

	/* Deprecated - use semantic names instead */
	--background-color-1: var(--background-color-default);
	--background-color-2: var(--background-color-active);
}