:root {
	--icon-stroke-color-default: var(--content-color-4);
	--icon-stroke-color-primary: var(--content-color-2);

	--icon-stroke-color-default-inverse: var(--content-color-1);
	--icon-stroke-color-primary-inverse: var(--background-color-1);
}
