:root {
	--background-color-1-inverse: hsla(210, 15%, 5%, 1);
	--background-color-2-inverse: hsla(210, 5%, 38%, 1);
	--background-color-3-inverse: hsla(210, 5%, 60%, 1);
	--background-color-4-inverse: hsla(210, 5%, 85%, 1);

	--content-color-1-inverse: hsla(0, 100%, 100%, 1);
	--content-color-2-inverse: hsla(210, 10%, 96%, 1);
	--content-color-3-inverse: hsla(0, 100%, 100%, 1);
	--content-color-4-inverse: hsla(0, 100%, 100%, 1);

	--border-color-default-inverse: hsla(210, 5%, 85%, 1);
	--border-color-primary-inverse: hsla(0, 100%, 100%, 1);

	--content-color-default: hsla(210, 5%, 38%, 1);
	--content-color-active: hsla(210, 15%, 5%, 1);
	--content-color-disabled: hsla(210, 5%, 85%, 1);
}
