:root {
	--np--color: hsla(210, 5%, 5%, 1);
	--np--color--light: hsla(210, 5%, 25%, 1);
	--np--color--lighter: hsla(210, 5%, 50%, 1);
	--np--color--lightest: hsla(210, 5%, 75%, 1);
	--np--color--disabled: hsla(210, 5%, 5%, 0.6);
	--np--color--link: hsla(212, 100%, 46%, 1);
	--np--color--success: hsla(146, 68%, 44%, 1);
	--np--color--highlight: hsla(48, 95%, 50%, 1);
	--np--color--warning: hsla(29, 98%, 62%, 1);
	--np--color--error: hsla(10, 92%, 63%, 1);
	--np--color--inverse: hsla(210, 5%, 95%, 1);
	--np--color--light--inverse: hsla(210, 5%, 95%, 0.85);
	--np--color--lighter--inverse: hsla(210, 5%, 95%, 0.55);
	--np--color--lightest--inverse: hsla(210, 5%, 95%, 0.25);
	--np--color--disabled--inverse: hsla(210, 5%, 95%, 0.6);
	--np--color--link--inverse: hsla(202, 90%, 65%, 1);
	--np--color--success--inverse: hsla(146, 58%, 59%, 1);
	--np--color--highlight--inverse: hsla(48, 90%, 65%, 1);
	--np--color--warning--inverse: hsla(29, 88%, 72%, 1);
	--np--color--error--inverse: hsla(10, 82%, 75%, 1);

	/* Day mode primitives */
	--np--color--day: hsla(210, 5%, 5%, 1);
	--np--color--light--day: hsla(210, 5%, 25%, 1);
	--np--color--lighter--day: hsla(210, 5%, 50%, 1);
	--np--color--lightest--day: hsla(210, 5%, 75%, 1);
	--np--color--disabled--day: hsla(210, 5%, 5%, 0.6);
	--np--color--link--day: hsla(212, 100%, 46%, 1);
	--np--color--success--day: hsla(146, 68%, 44%, 1);
	--np--color--highlight--day: hsla(48, 95%, 50%, 1);
	--np--color--warning--day: hsla(29, 98%, 62%, 1);
	--np--color--error--day: hsla(10, 92%, 63%, 1);
	--np--color--day--inverse: hsla(210, 5%, 95%, 1);
	--np--color--light--day--inverse: hsla(210, 5%, 95%, 0.85);
	--np--color--lighter--day--inverse: hsla(210, 5%, 95%, 0.55);
	--np--color--lightest--day--inverse: hsla(210, 5%, 95%, 0.25);
	--np--color--disabled--day--inverse: hsla(210, 5%, 95%, 0.6);
	--np--color--link--day--inverse: hsla(202, 90%, 65%, 1);
	--np--color--success--day--inverse: hsla(146, 58%, 59%, 1);
	--np--color--highlight--day--inverse: hsla(48, 90%, 65%, 1);
	--np--color--warning--day--inverse: hsla(29, 88%, 72%, 1);
	--np--color--error--day--inverse: hsla(10, 82%, 75%, 1);

	/* Night mode primitives */
	--np--color--night: hsla(210, 5%, 95%, 1);
	--np--color--light--night: hsla(210, 5%, 95%, 0.85);
	--np--color--lighter--night: hsla(210, 5%, 95%, 0.55);
	--np--color--lightest--night: hsla(210, 5%, 95%, 0.25);
	--np--color--disabled--night: hsla(210, 5%, 95%, 0.6);
	--np--color--link--night: hsla(202, 90%, 65%, 1);
	--np--color--success--night: hsla(146, 58%, 59%, 1);
	--np--color--highlight--night: hsla(48, 90%, 65%, 1);
	--np--color--warning--night: hsla(29, 88%, 72%, 1);
	--np--color--error--night: hsla(10, 82%, 75%, 1);
	--np--color--night--inverse: hsla(210, 5%, 5%, 1);
	--np--color--light--night--inverse: hsla(210, 5%, 25%, 1);
	--np--color--lighter--night--inverse: hsla(210, 5%, 50%, 1);
	--np--color--lightest--night--inverse: hsla(210, 5%, 75%, 1);
	--np--color--disabled--night--inverse: hsla(210, 5%, 5%, 0.6);
	--np--color--link--night--inverse: hsla(212, 100%, 46%, 1);
	--np--color--success--night--inverse: hsla(146, 68%, 44%, 1);
	--np--color--highlight--night--inverse: hsla(48, 95%, 50%, 1);
	--np--color--warning--night--inverse: hsla(29, 98%, 62%, 1);
	--np--color--error--night--inverse: hsla(10, 92%, 63%, 1);
}