:root {
	--np--border-color: hsla(240, 9%, 91%, 1);
	--np--border-color--light: hsla(240, 9%, 95%, 1);
	--np--border-color--dark: hsla(210, 8%, 58%, 1);
	--np--border-color--darker: hsla(210, 10%, 20%, 1);
	--np--border-color--success: hsla(146, 55%, 88%, 1);
	--np--border-color--highlight: hsla(48, 90%, 83%, 1);
	--np--border-color--warning: hsla(29, 100%, 82%, 1);
	--np--border-color--error: hsla(10, 100%, 85%, 1);
	--np--border-color--link: hsla(212, 100%, 85%, 1);

	/* Day mode primitives */
	--np--border-color--day: hsla(240, 9%, 91%, 1);
	--np--border-color--light--day: hsla(240, 9%, 95%, 1);
	--np--border-color--dark--day: hsla(210, 8%, 58%, 1);
	--np--border-color--darker--day: hsla(210, 10%, 20%, 1);
	--np--border-color--success--day: hsla(146, 55%, 88%, 1);
	--np--border-color--highlight--day: hsla(48, 90%, 83%, 1);
	--np--border-color--warning--day: hsla(29, 100%, 82%, 1);
	--np--border-color--error--day: hsla(10, 100%, 85%, 1);
	--np--border-color--link--day: hsla(212, 100%, 85%, 1);

	/* Night mode primitives */
	--np--border-color--night: hsla(240, 5%, 25%, 1);
	--np--border-color--light--night: hsla(240, 5%, 20%, 1);
	--np--border-color--dark--night: hsla(240, 5%, 50%, 1);
	--np--border-color--darker--night: hsla(240, 5%, 100%, 1);
	--np--border-color--success--night: hsla(146, 50%, 32%, 1);
	--np--border-color--highlight--night: hsla(48, 60%, 40%, 1);
	--np--border-color--warning--night: hsla(29, 65%, 32%, 1);
	--np--border-color--error--night: hsla(10, 60%, 34%, 1);
	--np--border-color--link--night: hsla(202, 60%, 32%, 1);
}